@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
}

<div class="jumbotron well">
    <h3>Create NuGet package from source files in three easy steps</h3>

    <ul id="steps">
        <li><span class="step">Step 1:</span> Create a new gist <a asp-controller="gist" asp-action="new">here</a></li>
        <li><span class="step">Step 2:</span> Fill out necessary properties</li>
        <li><span class="step">Step 3:</span> Publish your gist as a NuGet package</li>
    </ul>
</div>
